* {
    -webkit-tap-highlight-color: black;
    -moz-tap-highlight-color: black;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    background: #1b143a;
    color: #FFFFFF;
    -webkit-text-size-adjust: inherit;
    -webkit-font-smoothing: inherit;
    font-size: 16px;
    overscroll-behavior: none;
    scrollbar-width: none;
    word-spacing: 1px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

input, textarea {
    appearance: none;
    -webkit-appearance: none;
    font-family: 'Inter', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    outline: none;
}

img,
button {
    user-select: none;
}

img {
    pointer-events: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}